.SectionD1 {
  padding: 150px 0;
  padding-bottom: 80px;
}

.SectionD1__info p {
  margin: 10px 0px !important;
}

.SectionD1__left > div:nth-child(2) p {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #8878BF;
  font-weight: bold;
  font-size: 18px;
}

.SectionD1__left--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.507);
  margin: 8px;
  cursor: pointer;
}

.SectionD1__left--box:hover {
  border-bottom: 3px solid black;
}

.SectionD1__left--box:hover p {
  font-weight: bold;
}

.SectionD1__left--box p {
  margin-top: 10px;
}

.SectionD1__left--box__icon1, .SectionD1__left--box__icon2, .SectionD1__left--box__icon3, .SectionD1__left--box__icon4, .SectionD1__left--box__icon5, .SectionD1__left--box__icon6, .SectionD1__left--box__icon7, .SectionD1__left--box__icon8 {
  width: 40px;
  height: 40px;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.SectionD1__left--box__icon1 {
  background-image: url("../../../assets/Download/section1_icon1.svg");
}

.SectionD1__left--box__icon2 {
  background-image: url("../../../assets/Download/section1_icon2.svg");
}

.SectionD1__left--box__icon3 {
  background-image: url("../../../assets/Download/section1_icon3.svg");
  width: 37px;
}

.SectionD1__left--box__icon4 {
  background-image: url("../../../assets/Download/section1_icon4.svg");
  width: 33px;
}

.SectionD1__left--box__icon5 {
  background-image: url("../../../assets/Download/section1_icon5.svg");
}

.SectionD1__left--box__icon6 {
  background-image: url("../../../assets/Download/section1_icon6.svg");
}

.SectionD1__left--box__icon7 {
  background-image: url("../../../assets/Download/section1_icon7.svg");
  width: 35px;
}

.SectionD1__left--box__icon8 {
  background-image: url("../../../assets/Download/section1_icon8.svg");
  width: 32px;
}

.SectionD1__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SectionD1__right--img {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../../assets/Download/section1_img.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/Download/section1_img.jpg");
  width: 450px;
  height: 255px;
  border-radius: 20px;
}

.SectionD2 {
  padding-bottom: 50px;
}

.SectionD2__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SectionD2__left--img {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../../assets/Download/section2_img.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/Download/section2_img.jpg");
  width: 450px;
  height: 255px;
  border-radius: 20px;
}

@media only screen and (max-width: 420px) {
  .SectionD2__left--img {
    height: 180px;
  }
}

@media only screen and (max-width: 992px) {
  .SectionD2__right {
    margin-top: 30px;
  }
}

.SectionD2__right--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.SectionD2__right--box__img1, .SectionD2__right--box__img2, .SectionD2__right--box__img3 {
  width: 55px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.SectionD2__right--box__img1 {
  background-image: url("../../../assets/Download/section2_icon1.jpg");
}

@media only screen and (max-width: 576px) {
  .SectionD2__right--box__img1 {
    width: 45px;
    height: 25px;
  }
}

.SectionD2__right--box__img2 {
  background-image: url("../../../assets/Download/section2_icon2.jpg");
  width: 70px;
}

@media only screen and (max-width: 576px) {
  .SectionD2__right--box__img2 {
    width: 50px;
    height: 25px;
  }
}

.SectionD2__right--box__img3 {
  background-image: url("../../../assets/Download/section2_icon3.jpg");
  width: 60px;
}

@media only screen and (max-width: 576px) {
  .SectionD2__right--box__img3 {
    width: 45px;
    height: 25px;
  }
}

.SectionD2__right--box > div:last-child h6 {
  font-weight: bold;
  margin-bottom: 4px !important;
}

@media only screen and (max-width: 576px) {
  .SectionD2__right--box > div:last-child h6 {
    font-size: 16px;
  }
}

.SectionD2__right--box > div:last-child p {
  margin-bottom: 2px;
}

@media only screen and (max-width: 576px) {
  .SectionD2__right--box > div:last-child p {
    font-size: 14px;
  }
}

.SectionD3 {
  padding: 40px 0;
}

.SectionD3__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SectionD3__left--img {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../../assets/Download/section3_img.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/Download/section3_img.jpg");
  width: 450px;
  height: 255px;
  border-radius: 20px;
}

@media only screen and (max-width: 420px) {
  .SectionD3__left--img {
    height: 180px;
  }
}

@media only screen and (max-width: 992px) {
  .SectionD3__right {
    margin-top: 30px;
  }
}

.SectionD3__right--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.SectionD3__right--box__img1, .SectionD3__right--box__img2, .SectionD3__right--box__img3 {
  width: 55px;
  height: 40px;
  margin-right: 10px;
}

.SectionD3__right--box__img1 {
  background-image: url("../../../assets/Download/section3_icon1.jpg");
  height: 50px;
}

@media only screen and (max-width: 576px) {
  .SectionD3__right--box__img1 {
    width: 50px !important;
    height: 20px !important;
  }
}

.SectionD3__right--box__img2 {
  background-image: url("../../../assets/Download/section3_icon2.jpg");
}

@media only screen and (max-width: 576px) {
  .SectionD3__right--box__img2 {
    width: 50px !important;
    height: 20px !important;
  }
}

.SectionD3__right--box__img3 {
  background-image: url("../../../assets/Download/section3_icon3.jpg");
}

@media only screen and (max-width: 576px) {
  .SectionD3__right--box__img3 {
    width: 50px !important;
    height: 20px !important;
  }
}

.SectionD5 {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SectionD5__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #8878BF;
  margin-left: 25% !important;
  margin-right: 25% !important;
  padding: 25px;
  border-radius: 20px;
}

@media only screen and (max-width: 1110px) {
  .SectionD5__box {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}

@media only screen and (max-width: 768px) {
  .SectionD5__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.SectionD5__img {
  background-image: url("../../../assets/ContactUs/img.jpg");
  width: 255px;
  height: 170px;
}

@media only screen and (max-width: 768px) {
  .SectionD5__img {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=index.css.map */