.SectionS2{
	margin-top: -100px;
	padding-bottom: 50px;
}
.SectionS2 div .row{
	display: flex;
	justify-content: center;
}
.SectionS2__box{
	margin: 15px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 25px;
	border: 2px solid #8878BF;
	border-radius: 20px;
}
.SectionS2__img1{
	background-image: url("../../../assets/Support/section2_img1.svg");
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}
.SectionS2__img2{
	background-image: url("../../../assets/Support/section2_img2.svg");
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}
.SectionS2__img3{
	margin-top: 22px;
	background-image: url("../../../assets/Support/section2_img3.svg");
	width: 150px;
	height: 100px;
	margin-bottom: 50px;
}