.SectionS3 div .row{
	display: flex;
	justify-content: center;
}
.SectionS3 h3{
	text-align: center;
	margin-bottom: 30px;
}
.SectionS3__logo{
	background-image: url("../../../assets/WhiteLogo.svg");
	width: 100px;
	height: 29px;
	margin-bottom: 50px;
}
.SectionS3__icon1, .SectionS3__icon2, .SectionS3__icon3{
	background-image: url("../../../assets/Support/section3_icon.svg");
	width: 50px;
	height: 50px;
	position: absolute;
	opacity: 0.9;
	z-index: 100;
}
.SectionS3__icon1, .SectionS3__icon3{
	transform: translate(150%,-130%);
}
.SectionS3__icon2{
	transform: translate(150%,-170%);
}
.SectionS3_img1{
	background-image:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../../../assets/Support/section3_bg13.jpg");
	width: 260px;
	padding: 25px 25px 80px 25px !important;
	margin: 20px;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.SectionS3_img2{
	background-image:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../../../assets/Support/section3_bg2.svg");
	margin: 20px;
	width: 260px;
	padding: 25px;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.SectionS3_img3{
	background-image:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../../../assets/Support/section3_bg13.jpg");
	margin: 20px;
	width: 260px;
	padding: 25px;
	border-radius: 20px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.SectionS3_img1:hover, .SectionS3_img2:hover, .SectionS3_img3:hover{
	transform: scale(1.05);
}
.SectionS3_img1 p, .SectionS3_img2 p, .SectionS3_img3 p{
	color: white;
	font-weight: bold;
}
.SectionS3_img1 span, .SectionS3_img2 span, .SectionS3_img3 span{
	color: #9057ec;
	margin-bottom: 100px !important;
	font-weight: bold;
}
.SectionS3 > div a{
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 20px;
}
@media only screen and (max-width: 950px) {
	.SectionS3__icon1{
		transform: translate(150%,-140%);
	}
	.SectionS3__icon3{
		transform: translate(150%,-200%);
	}
	.SectionS3__icon2{
		transform: translate(150%,-230%);
	}
  }