.textGrid {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 3%;
}

.textGrid > h2 {
  font-size: 35px;
}
.textGrid > p {
  font-size: 1rem;
}

@media (max-width: 576px) {
  .textGrid {
    padding: 2%;
  }
  .textGrid > h2 {
    font-size: 1.5rem;
  }
  .textGrid > p {
    font-size: 0.9rem;
  }
}
