.SectionPr1 {
  padding-top: 120px;
  background-image: url("../../assets/Pricing/Background.png");
  background-size: 100% 100%;
  @media only screen and (max-width: 992px) {
    background-size: 300%;
    background-position: top;
  }
  &__info {
    width: 60%;
    @media only screen and (max-width: 992px) {
      width: 100%;
    }
    p {
      margin: 0px !important;
    }
  }
}
.SectionPr1 {
  &__img1,
  &__img2,
  &__img3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__img1 {
    background-image: url("../../assets/Pricing/img1.jpg");
  }
  &__img2 {
    background-image: url("../../assets/Pricing/img2.jpg");
  }
  &__img3 {
    background-image: url("../../assets/Pricing/img3.jpg");
  }
  &__img {
    background-image: url("../../assets/Pricing/NoPath.png");
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
}
.SectionPr2 {
  padding: 80px 0;
  background-image: linear-gradient(rgb(165, 165, 165));
  &__img1,
  &__img2,
  &__img3 {
    width: 350px;
    height: 300px;
    padding: 25px;
    margin: 2px;
    transition: all 0.3s ease-in;
    @media only screen and (max-width: 400px) {
      width: 300px;
    }
  }
  &__img1:hover, &__img2:hover, &__img3:hover {
    transform: translateY(-5px);
}
  &__img1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../assets/Pricing/section2_img1.jpg");
  }
  &__img2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../assets/Pricing/section2_img2.jpg");
  }
  &__img3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../assets/Pricing/section2_img3.jpg");
  }

  &__icon1,
  &__icon2,
  &__icon3 {
    width: 50px;
    height: 50px;
    @media only screen and (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__icon1 {
    background-image: url("../../assets/Pricing/section2_icon1.svg");
  }
  &__icon2 {
    background-image: url("../../assets/Pricing/section2_icon2.svg");
  }
  &__icon3 {
    background-image: url("../../assets/Pricing/section2_icon3.svg");
  }
  &__info {
    h2 {
      font-size: 18px;
      margin: 15px 0;
    }
    p {
      font-size: 14px !important;
      margin: 0px !important;
    }
    @media only screen and (max-width: 400px) {
      h2 {
        font-size: 17px !important;
        margin: 12px 0;
      }
    }
  }
}
.Faq__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.answer_style {
  border-left: 2px solid black;
  padding-left: 10px;
  margin: 0 10px 10px 10px;
  font-size: 14px;
}
.SectionPr3__full {
  background-color: #2d2e2d;
}
.SectionPr3 {
  padding-top: 60px;
  padding-bottom: 60px;
  h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
  }
}
