// =========== Section 1 ============
.SectionS1 {
  background-image: url("../../assets/Support/section1_bg.png");
  background-attachment: scroll;
  background-size: 100% 100%;
}
.SectionS1 > div:first-child {
  padding: 180px 0;
  padding-bottom: 400px;
}
.SectionS1 .container .row {
  margin-left: auto !important;
  margin-right: auto !important;
}
.SectionS1_box {
  width: 400px;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.SectionS1_box:hover {
  border: 2px solid #8878bf;
}
.SectionS1_box input[type="text"] {
  padding: 10px;
  font-size: 17px;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  background: transparent;
  border-radius: 8px 0px 0px 8px;
  float: left;
  width: 80%;
}
.SectionS1_box input[type="text"]::placeholder {
  color: white;
}
.SectionS1_box button {
  width: 35px;
  height: 35px;
  padding: 8px;
  background: #8878bf;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.SectionS1_box button:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.SectionS1_box::after {
  content: "";
  clear: both;
  display: table;
}

.SectionS1_wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding-bottom: 2rem;
}
.SectionS1_wrapper > h3 {
  margin-bottom: 25px;
  font-size: 30px;
}
.SectionS1_icon {
  background-image: url("../../assets/Support/section1_icon.svg");
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 950px) {
  .SectionS1_wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 450px) {
  .SectionS1_box {
    width: 250px;
  }
  .SectionS1_wrapper > h3 {
    margin-bottom: 25px;
    font-size: 22px;
    text-align: center !important;
  }
}
// =========== Section 2 ============
.SectionS2 {
  margin-top: -100px;
  padding-bottom: 50px;
}
.SectionS2 div .row {
  display: flex;
  justify-content: center;
}
.SectionS2__box {
  margin: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 25px;
  border: 2px solid #8878bf;
  border-radius: 20px;
}
.SectionS2__img1 {
  background-image: url("../../assets/Support/section2_img1.svg");
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.SectionS2__img2 {
  background-image: url("../../assets/Support/section2_img2.svg");
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.SectionS2__img3 {
  margin-top: 22px;
  background-image: url("../../assets/Support/section2_img3.svg");
  width: 150px;
  height: 100px;
  margin-bottom: 50px;
}
// =========== Section 3 ============
.SectionS3 div .row {
  display: flex;
  justify-content: center;
}
.SectionS3 h3 {
  text-align: center;
  margin-bottom: 30px;
}
.SectionS3__logo {
  background-image: url("../../assets/WhiteLogo.svg");
  width: 100px;
  height: 29px;
  margin-bottom: 50px;
}
.SectionS3__icon1,
.SectionS3__icon2,
.SectionS3__icon3 {
  background-image: url("../../assets/Support/section3_icon.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0.9;
  z-index: 100;
}
.SectionS3__icon1,
.SectionS3__icon3 {
  transform: translate(150%, -130%);
}
.SectionS3__icon2 {
  transform: translate(150%, -170%);
}
.SectionS3_img1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/Support/section3_bg13.jpg");
  width: 260px;
  padding: 25px 25px 80px 25px !important;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.SectionS3_img2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/Support/section3_bg2.svg");
  margin: 20px;
  width: 260px;
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.SectionS3_img3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/Support/section3_bg13.jpg");
  margin: 20px;
  width: 260px;
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.SectionS3_img1:hover,
.SectionS3_img2:hover,
.SectionS3_img3:hover {
  transform: scale(1.05);
}
.SectionS3_img1 p,
.SectionS3_img2 p,
.SectionS3_img3 p {
  color: white;
  font-weight: bold;
}
.SectionS3_img1 span,
.SectionS3_img2 span,
.SectionS3_img3 span {
  color: #9057ec;
  margin-bottom: 100px !important;
  font-weight: bold;
}
.SectionS3 > div a {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px;
}
@media only screen and (max-width: 950px) {
  .SectionS3__icon1 {
    transform: translate(150%, -140%);
  }
  .SectionS3__icon3 {
    transform: translate(150%, -200%);
  }
  .SectionS3__icon2 {
    transform: translate(150%, -230%);
  }
}
// =========== Section 4 ============
.SectionS4 {
  padding-top: 60px;
}
.SectionS4 h3 {
  text-align: center;
  margin-bottom: 30px;
}
.SectionS4_box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  border: 2px solid #9057ec;
  margin: 20px;
  border-radius: 20px;
}
.SectionS4_box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: 2px solid #000;
  margin: 20px;
  border-radius: 20px;
}
.SectionS4_box1 p,
.SectionS4_box2 p {
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 600;
}
.SectionS4_img1 {
  background-image: url("../../assets/Support/section4_img1.svg");
  width: 70px;
  height: 50px;
}
.SectionS4_img2 {
  background-image: url("../../assets/Support/section4_img2.svg");
  width: 41px;
  height: 55px;
}
// =========== Section 5 ============
.SectionS5 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../assets/Support/section_5.jpg");
  background-attachment: scroll;
  background-size: 110%;
  padding: 50px 0;
  padding-top: 70px;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}
.SectionS5 div h3 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.SectionS5__box {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SectionS5__box > div {
  margin: 20px;
}
.SectionS5__line {
  margin: 5px;
}
.SectionS5__line p {
  color: white;
}
@media only screen and (max-width: 992px) {
  .SectionS5 {
    padding: 100px 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-size: 400%;
  }
  .SectionS5__box {
    margin: 20px 0;
    flex-direction: column;
    justify-content: center;
  }
  .SectionS5__box > div {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 600px) {
  .SectionS5 {
    padding: 100px 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-size: 830%;
  }
  .SectionS5__line p {
    color: white;
    font-size: 14px;
  }
}
// =========== Section 6 ============
