// Section 1
.SectionTu1{
	background-image: url("../../assets/Tutorials/bg_img.png");
	background-size: 101% 100%;
	background-attachment: scroll;
	padding: 180px 0;
	padding-bottom: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	@media only screen and (max-width: 768px) {
		background-size: cover;
		padding-top: 130px;
		padding-bottom: 250px;
	}
	p{
		color: white;
		margin-bottom: 30px;
		@media only screen and (max-width: 768px) {
			text-align: center;
		}
	}
	h3{
		font-weight: bold;
		@media only screen and (max-width: 768px) {
			text-align: center;
		}
	}
}
.SectionS1_box{
	margin: 2px !important;
	@media only screen and (max-width: 768px) {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
// Section 2
.SectionTu2{
	margin-top: -140px;
	padding-bottom: 20px;
	&__txt{
		p{
			width: 65%;
			text-align: center;
			margin: auto;
			font-size: 15px;
			@media only screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}
	&__btnBox{
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border: 1px solid #D57FAD;
		border-radius: 15px;
		height: 380px;
		@media only screen and (max-width: 992px) {
			flex-direction: row;
			height: auto;
			flex-wrap: wrap;
			padding: 10px;
			margin-bottom: 20px;
		}
	}
}