.SectionH5{
	padding: 60px 0;
	background-color: #2D2E2D;
}
.SectionH5__img{
	background-image: url("../../../assets/Home/section_5.svg");
	height: 220px;	
	width: 180px;
}
.SectionH5_wrapper{
	display: flex;
	flex-direction: row;
}
.SectionH5_wrapper > div:first-child{
	width: 82%;
}
@media only screen and (max-width: 992px) {
	.SectionH5_wrapper > div:first-child{
		width: 76%;
	}
}
@media only screen and (max-width: 768px) {
	.SectionH5_wrapper{
		flex-direction: column;
	}
	.SectionH5_wrapper > div:first-child{
		width: 99%;
	}
}