.SectionH3{
	/* padding-top: 100px; */
	transform: translateY(220px);
	margin-bottom: -200px;
}
.SectionH3_text{
	margin-top: 150px;
}
.SectionH3__img1{
	background-image: url("../../../assets/Home/section3_img1.svg");
	height: 280px;
	width: 280px;
	transform: translate(60px, 150px);
}
.SectionH3__img2{
	background-image: url("../../../assets/Home/section3_img2.svg");
	width: 170px;
	height: 170px;
	transform: translate(340px, 42px);
}
.SectionH3__img3{
	background-image: url("../../../assets/Home/section3_img3.svg");
	width: 120px;
	height: 120px;
	transform: translate(370px, -340px);
}
.SectionH3__iconBox1{
	background-color: #F83795;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	transform: translate(270px,-200px);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.SectionH3__iconBox2{
	background-color: #34BC9F;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: absolute;
	transform: translate(440px,-210px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.SectionH3__iconBox3{
	background-color: #5A4FA0;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	position: absolute;
	transform: translate(250px,-130px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.SectionH3__icon1{
	margin-top: 8px;
	background-image: url("../../../assets/Home/section3_icon1.jpg");
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.SectionH3__icon2{
	margin-top: 8px;
	background-image: url("../../../assets/Home/section3_icon2.jpg");
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.SectionH3__icon3{
	margin-top: 8px;
	background-image: url("../../../assets/Home/section3_icon3.jpg");
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.SectionH3__iconBox1 > p, .SectionH3__iconBox2 > p, .SectionH3__iconBox3 > p{
	font-size: 12px;
	font-weight: bold;
	color: white;
	padding-bottom: 0px !important;
}
@media only screen and (max-width: 992px) {
	.SectionH3{
		/* padding-top: 100px; */
		transform: translateY(220px);
		margin-bottom: -300px;
	}
}
@media only screen and (max-width: 530px) {
	.SectionH3__right{
		transform: scale(0.8);
	}
	.SectionH3__img1{
		transform: translate(-50px, 150px);
	}
	.SectionH3__img2{
		transform: translate(220px, 42px);
	}
	.SectionH3__img3{
		transform: translate(240px, -340px);
	}
	.SectionH3__iconBox1{
		transform: translate(150px,-200px);
	}
	.SectionH3__iconBox2{
		transform: translate(300px,-210px);
	}
	.SectionH3__iconBox3{
		transform: translate(140px,-130px);
	}
}
@media only screen and (max-width: 471px) {
	.SectionH3{
		/* padding-top: 100px; */
		transform: translateY(220px);
		margin-bottom: -10px;
	}
	.SectionH3__right{
		transform: scale(0.7);
	}
}