.SectionH2{
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* transform: translateY(60px); */
}
.SectionH2__hr{
	width: 80%;
    border: 0;
    height: 1px;
	background: #ffffff;
	text-align: center;
	margin-bottom: 50px;	
}
.SectionH2__Box{
	width: 290px;
	border-radius: 10px;
	margin: 20px 20px !important;
	padding: 20px 30px;
	border-bottom: 1px solid transparent;
}
.SectionH2_icon1{
	background-image: url("./../../../assets/Home/section2_icon1.svg");
	height: 30px;
	width: 40px;
	margin-left: 0px !important;
}
.SectionH2_icon2{
	background-image: url("./../../../assets/Home/section2_icon2.svg");
	height: 40px;
	width: 40px;
	margin-left: 0px !important;
}
.SectionH2_icon3{
	background-image: url("./../../../assets/Home/section2_icon3.svg");
	height: 40px;
	width: 40px;
	margin-left: 0px !important;
}
.SectionH2__Box > h6{
	color: #fff;
	margin: 20px 0 !important;
}
.SectionH2__Box > p{
	margin: 0px !important;
	color: #fff;
}
.SectionH2__Box:hover{
	transform: translateY(-2px);
	box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.39);
	border-bottom: 1px solid rgb(128, 128, 128);
}