.activeMobile {
  color: #000 !important;
}
.link {
  text-transform: capitalize;
  color: #757575;
  font-size: 1.2rem !important;
  line-height: 1.3rem !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  text-decoration: none !important;
}
.link:hover,
.link:focus {
  color: #8d8d8d;
}

.subMenu_text {
  background-color: #fff;
  color: white;
  padding: 5px 9px;
  margin: 1px 0;
  transition: all 0.9s ease-in-out;
}
.subMenu_text:hover,
.subMenu_text:focus {
  color: black;
}
.activeMobile_2 {
  /* color: cornflowerblue !important; */
  background-color: #000000;
}
@media only screen and (max-width: 992px) {
  
}