.SectionB4__wrapper{
	padding: 25px;
	padding-bottom: 40px;
	margin-bottom: 25px;
	display: flex;
	border: 2px solid #8878BF;
	border-radius: 20px;
	cursor: pointer;
}
.SectionB4__wrapper:hover{
	box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.99);
	border: 2px solid rgb(129, 129, 129);
}
.SectionB4{
	padding: 20px 0;
	padding-bottom: 40px;
}
.SectionB4 > div:last-child{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}
.SectionB4 > h5{
	font-weight: bold;
	margin-bottom: 20px;
}
.SectionB4__img1{
	background-image: url("../../../assets/Blog/section4_img1.jpg");
	width: 135px;
	height: 120px;
	margin-right: 25px;
}
.SectionB4__img2{
	background-image: url("../../../assets/Blog/section4_img2.jpg");
	width: 135px;
	height: 120px;
	margin-right: 25px;
}
.SectionB4__img3{
	background-image: url("../../../assets/Blog/section4_img3.jpg");
	width: 135px;
	height: 120px;
	margin-right: 25px;
}
.SectionB4__img4{
	background-image: url("../../../assets/Blog/section4_img4.jpg");
	width: 135px;
	height: 120px;
	margin-right: 25px;
}

.SectionB4 h2{
	font-weight: bold;
	font-size: 20px !important;
}
.SectionB4__info p{
	color: rgb(116, 116, 116);
	margin-top: 0px !important;
	font-size: 13px;
}
@media only screen and (max-width: 768px) {
	.SectionB4__wrapper{
		flex-direction: column;
	}
	.SectionB4__img{
		margin-left: auto;
		margin-right: auto;
	}
	.SectionB4__info h2{
		font-size: 22px;
		text-align: left;
	}
	.SectionB4__info p{
		font-size: 12px;
		text-align: left;
	}
  }