.SectionSv1 {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url("../../../assets/Servers/section1.png");
  background-size: cover;
}

.SectionSv1__txt {
  width: 60%;
}

@media only screen and (max-width: 992px) {
  .SectionSv1__txt {
    width: 100%;
  }
}

.SectionSv1__txt p {
  margin-top: 0px !important;
}

.SectionSv2 .row {
  margin-left: auto;
  margin-right: auto;
}

.SectionSv2 > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SectionSv2 {
  padding: 20px 0;
}

.SectionSv2__txt p {
  margin-top: 0px !important;
}

.SectionSv2__txt h2 {
  font-weight: bold;
}

.SectionSv2__box {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 0px !important;
  border-radius: 15px;
  padding: 20px 0;
}

@media only screen and (max-width: 1100px) {
  .SectionSv2__box {
    width: 99%;
  }
}

.SectionSv2__box--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.SectionSv2__box--list > div > p {
  margin-top: -10px !important;
  margin-bottom: 0px;
}

.SectionSv2__box--list > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.SectionSv2__box1 {
  width: 25%;
  height: 100px;
}

@media only screen and (max-width: 1100px) {
  .SectionSv2__box1 {
    display: none !important;
  }
}

.SectionSv2__iconWhite, .SectionSv2__iconBlack, .SectionSv2__leftIconWhite, .SectionSv2__leftIconBlack {
  width: 15px;
  height: 15px;
}

.SectionSv2__iconWhite {
  background-image: url("../../../assets/Servers/iconWhite.svg");
  border-radius: 50%;
}

.SectionSv2__iconBlack {
  background-image: url("../../../assets/Servers/iconBlack.svg");
  border-radius: 50%;
}

.SectionSv2__leftIconWhite {
  background-image: url("../../../assets/Servers/leftArrowWhite.svg");
  margin-top: 6px;
}

.SectionSv2__leftIconBlack {
  background-image: url("../../../assets/Servers/leftArrow.svg");
  margin-top: 6px;
}

.SectionSv2__iconCountry1, .SectionSv2__iconCountry2, .SectionSv2__iconCountry3, .SectionSv2__iconCountry4 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 4px 2px 0 7px;
}

.SectionSv2__iconCountry1 {
  background-image: url("../../../assets/ContactUs/state_icon7.svg");
}

.SectionSv2__iconCountry2 {
  background-image: url("../../../assets/Servers/Mask Group 152.svg");
}

.SectionSv2__iconCountry3 {
  background-image: url("../../../assets/ContactUs/state_icon12.svg");
}

.SectionSv2__iconCountry4 {
  background-image: url("../../../assets/ContactUs/state_icon1.svg");
}

.SectionSv3 {
  margin-top: 20px;
  padding: 60px 0;
  background-image: url("../../../assets/Servers/section2.png");
  background-attachment: scroll;
}

.SectionSv3__BGimg {
  background-image: url("../../../assets/Servers/section3.jpg");
  width: 220px;
  height: 250px;
  border-radius: 15px;
}

.SectionSv3__BGimg--box {
  width: 230px;
  height: 160px;
  background-color: white;
  border-radius: 15px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 392px) {
  .SectionSv3__BGimg--box {
    -webkit-transform: translate(10%, 50%);
            transform: translate(10%, 50%);
  }
}

.SectionSv3__BGimg--box > div > p {
  margin: 0px;
  font-size: 14px;
  margin-left: 4px;
}

.SectionSv3__BGimg--box > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SectionSv3__BGimg--box > div > div > h5 {
  font-size: 16px;
  margin: 5px;
}

.SectionSv3__BGimg--box > div:last-child {
  margin-top: 15px;
}

.SectionSv3__BGimg--box > div:last-child a {
  padding: 5px 5px;
  border: 2px solid #D763FA;
  margin: 15px;
  font-size: 8px;
  border-radius: 7px;
}

@media only screen and (max-width: 992px) {
  .SectionSv3__BGimg--box > div:last-child a {
    font-size: 7px;
  }
}

.SectionSv3__BGimg--box > div:last-child a:hover {
  text-decoration: none;
  background-color: #D763FA;
  color: #fff;
  border-color: #3AA9D6;
}

.SectionSv3__BGimg--box > div:last-child > a:first-child {
  background-color: black;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .SectionSv3 > div > div > div > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .SectionSv3 > div > div > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

.SectionSv4 {
  padding: 60px 0;
}

.SectionSv4__box {
  width: 280px;
  margin: 15px;
  /* p{
			text-align: justify;
		} */
}

.SectionSv4__box--icon1, .SectionSv4__box--icon2, .SectionSv4__box--icon3, .SectionSv4__box--icon4, .SectionSv4__box--icon5, .SectionSv4__box--icon6 {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.SectionSv4__box--icon1 {
  background-image: url("../../../assets/Servers/icon1.svg");
  width: 34px;
}

.SectionSv4__box--icon2 {
  background-image: url("../../../assets/Servers/icon2.svg");
}

.SectionSv4__box--icon3 {
  background-image: url("../../../assets/Servers/icon3.svg");
}

.SectionSv4__box--icon4 {
  background-image: url("../../../assets/Servers/icon4.svg");
}

.SectionSv4__box--icon5 {
  background-image: url("../../../assets/Servers/icon5.svg");
}

.SectionSv4__box--icon6 {
  background-image: url("../../../assets/Servers/icon6.svg");
}

.SectionSv4__box h5 {
  text-align: center;
}
/*# sourceMappingURL=index.css.map */