.ImgC{
	display: flex;
	justify-content: center;
	align-items: center;
}
.SectionFe5__img{
	background-image: url("../../../assets/Features/Section5.svg");
	width: 200px;
	height: 200px;
}
.SectionFe5_text h2{
	font-weight: bold;
}
.SectionFe5_text p{
	font-size: 15px;
}
@media only screen and (max-width: 992px) {
	.SectionFe5{
		padding: 50px 0;
	}
	.SectionFe5__img{
		width: 120px;
		height: 120px;
	}
}